Flow1.txt


[
    {
        "id": "8e7cec23.5769",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "73193c34.d6bdb4",
        "type": "debug",
        "z": "8e7cec23.5769",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "e3564800.a17d08",
        "type": "rpi-gpio out",
        "z": "8e7cec23.5769",
        "name": "LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "621da519.0eb09c",
        "type": "switch",
        "z": "8e7cec23.5769",
        "name": "if 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "f4855843.26b808"
            ],
            [
                "2f698546.ba052a"
            ]
        ]
    },
    {
        "id": "f4855843.26b808",
        "type": "change",
        "z": "8e7cec23.5769",
        "name": "to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "e3564800.a17d08"
            ]
        ]
    },
    {
        "id": "23561c2a.31c714",
        "type": "rpi-gpio in",
        "z": "8e7cec23.5769",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "73193c34.d6bdb4",
                "621da519.0eb09c"
            ]
        ]
    },
    {
        "id": "2f698546.ba052a",
        "type": "change",
        "z": "8e7cec23.5769",
        "name": "to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "e3564800.a17d08"
            ]
        ]
    }
]
